{% extends 'layout.twig' %}

{% block content %}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Variables</h3>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 align-self-center">
            <div class="card">
            <div class="card-block">
                <h4 class="card-title">Variables utilisées par les prestations</h4>
                <h6 class="card-subtitle">Depuis OpenFisca-France</h6>
                <div class="table-responsive m-t-40">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Enfants</th>
                            <th>Entité</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for v in variables %}
                                <tr>
                                    <td><a href="{{ path_for('variable', {'name': v.name}) }}">{{ v.name }}</a></td>
                                    <td>{{ v.description }}</td>
                                    <td>
                                        {% for c in v.children|split(':') %}
                                            <div>{{ c }}</div>
                                        {% endfor %}
                                    </td>
                                    <td>{{ v.entity }}</td>
                                    <td>{{ v.valueType }}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>

<script>
    $(document).ready(function() {
        $('#myTable').dataTable( {
            "language": {
                "url": "assets/dataTables.french.lang"
            }
        } );
    } );
</script>
{% endblock %}