{% extends 'layout.twig' %}

{% block link %}
    <link href="/assets/plugins/prism/prism.css" rel="stylesheet">
    <link href="/assets/css/openfisca_graph.css" rel="stylesheet">
    <link href="/assets/css/fontawesome.min.css" rel="stylesheet">
    <link href="/assets/css/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">{{ variable.name }}</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path_for('variables') }}">Variables</a></li>
                <li class="breadcrumb-item active" id="v_name">{{ variable.name }}</li>
            </ol>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="col-md-12 align-self-center">
            <div class="card">
                <div class="card-body" id="svg_loc">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 align-self-center">
            <div class="card">
                <div class="card-body p-20" id="var_info_template_container">
                    <ul class="nav nav-tabs customtab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#var_infos" role="tab" id="inf">
                                <span class="hidden-sm-up"><i class="ti-info"></i></span>
                                <span class="hidden-xs-down">Informations</span></a></li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#var_links" role="tab" id="lin">
                                <span class="hidden-sm-up"><i class="ti-info"></i></span>
                                <span class="hidden-xs-down">Lier la variable</span></a></li>
                    </ul>
                    {{ include('pages/variables/variable_info.twig', {'variable' : variable }) }}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block script %}
        <script src="/assets/plugins/prism/prism.js"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="/assets/js/clicdroits/json_build.js"></script>
        <script src="/assets/js/clicdroits/node_build.js"></script>
        <script src="/assets/js/clicdroits/openfisca.js"></script>
        <script src="/assets/js/clicdroits/DataReader.js"></script>
        <script src="/assets/js/jquery-ui.js"></script>
        <script src="/assets/js/fontawesome.min.js"></script>
        <script>
            $(function () {
                selected = new SvgViewer("#svg_loc", '{{ variable.name }}', 500);
                current_node = {name: '{{ variable.name }}'};
                $('#add_link').click(function (event) {
                    event.preventDefault();
                    add_input("NewName", "")
                })
                $('#btn_simul').click(function (event) {
                    event.preventDefault();
                    getFiles(selected.infos);
                })


                init_slider();
                init_check_box();

                $('#btn_val').click(function (event) {
                    event.preventDefault();
                    var name = $('#selected_name').html();

                    var link = $('#selected_link').val();
                    var data = {};
                    $('[for]').each(function (idx, elem) {
                        data[$(elem).val()] = $('#' + $(elem).attr('for')).val();
                    });
                    var url = "{{ path_for('variables/link') }}";
                    $.ajax({
                        url: url,
                        method: 'post',
                        data: {
                            name: name,
                            link: JSON.stringify(data)
                        },
                        dataType: "json",
                        success: function (data) {

                            alert_flash('success', 'La variable a bien été liée!');
                            d3.selectAll('g.node').filter(function (c) {
                                return current_node.name == c.name
                            }).each(function (d) {
                                selected.infos[d.name]['fill'] = 1;
                                setTimeout(function () {
                                    close_children(d);
                                    update(d, selected);
                                    node_calc(d.parent, selected);
                                }, 600);
                            })
                            update(selected.root, selected);
                        }
                    });
                });
            });
        </script>
    {% endblock %}
