{% extends 'layout.twig' %}

{% block content %}
<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h1>404</h1>
            <h3 class="text-uppercase">Cette page n'existe pas !</h3>
            <p class="text-muted m-t-30 m-b-30">Courage jeune padawan, ton chemin tu trouveras!</p>
            <a href="/" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Revenir à l'accueil</a> </div>
    </div>
</section>
{% endblock %}