<script>
    {% set types = ['error', 'danger', 'success', 'info'] %}
    {% for type in types %}
        {% if flash.getMessage(type) %}
            alert_flash('{{ type }}', '{{ flash.getMessage(type) | first }}');
        {% endif %}
    {% endfor %}
</script>