<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">

        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap">Navigation</li>
                <li>
                    <a href="{{ path_for('simulations') }}" aria-expanded="false">
                        <i class="fa fa-book"></i>
                        <span class="hide-menu">Simulations</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path_for('variables') }}" aria-expanded="false">
                        <i class="fa fa-compass"></i>
                        <span class="hide-menu">Variables</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path_for('routines') }}" aria-expanded="false">
                        <i class="fa fa-clock-o"></i>
                        <span class="hide-menu">Routines</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->

</aside>