.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
th {
  text-align: center;
}
.node text {
  font: 14px sans-serif;
  font-weight: 900;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#svg_loc {
	max-height: 600px;
	overflow: scroll;
}

#desc_card{
  background: #e8e8e8
}

#nom_dep{
  padding:0
}

.card-text {
  padding: 5px;
  font-weight: bold
}
.center_box{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
	margin-top: 5px;
}

.card {
text-align: center;
  }
.hljs-period {
	color: #d40000;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
