{% extends 'layout.twig' %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Simulateur</h3>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table style="background: #272c33"
                                   class="text-white table color-bordered-table dark-bordered-table">
                                <tbody>
                                <tr>
                                    <td>Aide demandée</td>
                                    <td class="font-medium">{{ name }}</td>
                                </tr>
                                <tr>
                                    <td>Json envoyé</td>
                                    <td class="font-medium">{{ json }}</td>
                                </tr>
                                <tr>
                                    <td>Sortie</td>
                                    <td class="font-medium">{{ output }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}