{% extends 'layout.twig' %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Simulations</h3>
            </div>
            <div class="col-md-6 col-4 align-self-center">
                <a href="{{ path_for('simulation/add') }}" class="btn pull-right btn-success"><i class="mdi mdi-plus-circle"></i> Ajouter
                    une simulation
                </a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            {% if simulations is empty %}
                <p>Aucune simulations pour l'instant</p>
            {% else %}
                {% for simulation in simulations %}
                    <div class="col-md-4">
                        <div class="card card-outline-inverse">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">{{ simulation.name|upper }}</h4></div>
                            <div class="card-block">
                                <h3 class="card-title">{{ simulation.description }}</h3>
                                <div class="card-text">
                                    <div class="table-responsive">
                                        <table style="background: #272c33"
                                               class="text-white table color-bordered-table dark-bordered-table">
                                            <tbody>
                                            <tr>
                                                <td>Type modèle</td>
                                                <td class="font-medium">{{ simulation.algorithm.name }}</td>
                                            </tr>
                                            <tr>
                                                <td>Routines</td>
                                                <td class="font-medium">0</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <a href="{{ path_for('simulation', {'id': simulation.id}) }}" class="btn btn-inverse">Configurer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}