{% extends 'layout.twig' %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">{{ simulation.name }}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path_for('simulations') }}">Simulations</a></li>
                    <li class="breadcrumb-item active">{{ simulation.name }}</li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-block">
                        <form method="post" action="{{ path_for('simulation', {'id': simulation.id}) }}">
                            <ul class="nav nav-tabs customtab mb-2" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                                        href="#simulation_global"
                                                        role="tab"><span class="hidden-sm-up"><i
                                                    class="ti-info"></i></span>
                                        <span class="hidden-xs-down">Informations globales</span></a></li>
                            </ul>
                            <div class="tab-content tabcontent-border">
                                <div class="tab-pane active p-20" id="simulation_global" role="tabpanel">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label>Nom simulation</label>
                                                    <input type="text" class="form-control" name="name"
                                                           value="{{ simulation.name }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea type="text" class="form-control"
                                                              name="description">{{ simulation.description }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label>Jeu de données (SQL)</label>
                                                    <textarea type="text" class="form-control"
                                                              name="dataset">{{ simulation.dataset }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions pull-right mt-3">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>
                                    Sauvegarder
                                </button>
                                <a href="{{ path_for('simulation/delete', {'id': simulation.id}) }}"
                                   class="btn btn-danger"><i class="fa fa-times"></i> Supprimer</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}