{% extends 'layout.twig' %}

{% block link %}
    <link href="/assets/plugins/footable/css/footable.core.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- ========================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ========================================== -->
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0"> {{ routine.name }}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path_for('routines') }}">Routines</a></li>
                    <li class="breadcrumb-item active">Résultats</li>
                    <li class="breadcrumb-item active">{{ routine.name }}</li>
                </ol>
            </div>
        </div>
        <!-- ========================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ========================================== -->
        <!-- ========================================== -->
        <!-- Start Page Content -->
        <!-- ========================================== -->
        <div class="row">

            <div class="col-lg-12">
                <div id="accordion2" class="accordion" role="tablist" aria-multiselectable="true">
                    {% for action in routine.actions|reverse %}
                        <div class="card card-outline-inverse" style="border-bottom: 2px solid white">
                            <div class="card-header collapsed" role="tab" id="headingOne" data-toggle="collapse"
                                 data-parent="#accordion2" href="#collapse-{{ action.id }}"
                                 aria-expanded="true" aria-controls="collapseOne">
                                <div class="">
                                    <h5 class="mb-0 text-white">
                                        Resultat du : {{ action.start_date|date("d/m/Y") }}
                                    </h5>
                                </div>
                            </div>
                            <div id="collapse-{{ action.id }}" class="collapse" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="card-block">
                                    {% if action.end_date == '' %}
                                        <p>En cours d'execution {{ action.end_date }}</p>
                                    {% else %}
                                        <div class="row">
                                            {% set nbNonRecourants = 0 %}
                                            {% for simulation in action.simulations %}
                                                {% set nbNonRecourants = nbNonRecourants + simulation.results|length %}
                                            {% endfor %}
                                            <div class="col-md-6 col-lg-3 col-xlg-3  m-t-40">
                                                <div class="card card-inverse card-info">
                                                    <div class="box bg-info text-center">
                                                        <h1 class="font-light text-white">{{ nbNonRecourants }}</h1>
                                                        <h6 class="text-white">Potentiels non-recourants</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 col-xlg-3  m-t-40">
                                                <div class="card card-primary card-inverse">
                                                    <div class="box text-center">
                                                        <h4 class="font-light text-white">{{ action.simulations|length }}</h4>
                                                        <h6 class="text-white">Simulations lancées</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 col-xlg-3  m-t-40">
                                                <div class="card card-inverse card-success">
                                                    <div class="box text-center">
                                                        <h4 class="font-light text-white">{{ action.start_date|date("m/d/Y") }}
                                                            à {{ action.start_date|date('H:i:s') }}</h4>
                                                        <h6 class="text-white">Date de début</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 col-xlg-3  m-t-40">
                                                <div class="card card-inverse card-dark">
                                                    <div class="box text-center">
                                                        <h4 class="font-light text-white">{{ action.end_date|date("m/d/Y") }}
                                                            à {{ action.end_date|date('H:i:s') }}</h4>
                                                        <h6 class="text-white">Date de fin</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h2 class="pt-5 pb-2">Resultats des simulations : </h2>
                                        <div class="card">
                                            <div class="card-block">
                                                <table class="table m-b-0 toggle-circle table-hover tableResults">
                                                    <thead>
                                                    <tr>
                                                        <th data-type="html" data-sort-value="number"> #ID</th>
                                                        <th> Status</th>
                                                        <th data-hide="phone, tablet"> Simulation</th>
                                                        <th data-hide="all"> Valeur</th>
                                                        <th data-hide="all"> Variables non prises en compte</th>
                                                    </tr>
                                                    </thead>
                                                    <div class="m-t-40">
                                                        <div class="d-flex">
                                                            <div class="ml-auto">
                                                                <div class="form-group">
                                                                    <input type="text" placeholder="Recherche"
                                                                           class="form-control tableSearchResults"
                                                                           autocomplete="off">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <tbody>
                                                    {% for simulation in action.simulations %}
                                                        {% for result in simulation.results %}
                                                            <tr>
                                                                <td>{{ result.id_non_recourant }}</td>
                                                                <td>
                                                                    {% if result.status == 0 %}
                                                                        <span class="label label-table label-warning">Manquants</span>
                                                                    {% elseif result.status == 1 %}
                                                                        <span class="label label-table label-success">Éligible</span>
                                                                    {% else %}
                                                                        <span class="label label-table label-danger">Non éligible</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td><a href="{{ path_for('simulation', {'id': result.simulation.id}) }}">{{ result.simulation.name }}</a></td>
                                                                <td>
                                                                    {{ result.value }}
                                                                </td>
                                                                <td>
                                                                    <ul>
                                                                        {% for r in result.missing|split(':') %}
                                                                            <li><a href="{{ path_for('variable', {'name': r}) }}">{{ r }}</a></li>
                                                                        {% endfor %}
                                                                    </ul>

                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <td colspan="5">
                                                            <div class="text-right">
                                                                <ul class="pagination pagination-split m-t-30"> </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="/assets/plugins/footable/js/footable.all.min.js">

    </script>
    <script>
        $(window).on('load', function () {
            $('.tableResults').footable().on('footable_row_expanded', function (e) {
                $('.tableResults tbody tr.footable-detail-show').not(e.row).each(function () {
                    $('.tableResults').data('footable').toggleDetail(this);
                });
            });

            $(".tableResults").each(function () {
                var t = $(this);
                $(this).find('.tableSearchResults').on('input', function (e) {
                    e.preventDefault();
                    t.trigger('footable_filter', {filter: $(this).val()});
                });

            });
        });
    </script>

{% endblock %}
